@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Gallery</h2>

<div class="m-p-g">

    <div class="m-p-g__thumbs" data-google-image-layout data-max-height="350">
        <img src="../../Photos/yoga/Yoga_570d043114c410b712d5a71a.jpeg" data-full="../../Photos/yoga/Yoga_570d043114c410b712d5a71a.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d070314c410b712d5a71e.jpeg" data-full="../../Photos/yoga/Yoga_570d070314c410b712d5a71e.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d072514c410b712d5a71f.jpeg" data-full="../../Photos/yoga/Yoga_570d072514c410b712d5a71f.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d080614c410b712d5a720.jpeg" data-full="../../Photos/yoga/Yoga_570d080614c410b712d5a720.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d093314c410b712d5a723.jpeg" data-full="../../Photos/yoga/Yoga_570d093314c410b712d5a723.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d0b6314c410b712d5a726.jpeg" data-full="../../Photos/yoga/Yoga_570d0b6314c410b712d5a726.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d0b8f14c410b712d5a727.jpeg" data-full="../../Photos/yoga/Yoga_570d0b8f14c410b712d5a727.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d111714c410b712d5a731.jpeg" data-full="../../Photos/yoga/Yoga_570d111714c410b712d5a731.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d124714c410b712d5a734.jpeg" data-full="../../Photos/yoga/Yoga_570d124714c410b712d5a734.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d129714c410b712d5a736.jpeg" data-full="../../Photos/yoga/Yoga_570d129714c410b712d5a736.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d12ad14c410b712d5a737.jpeg" data-full="../../Photos/yoga/Yoga_570d12ad14c410b712d5a737.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d12e714c410b712d5a738.jpeg" data-full="../../Photos/yoga/Yoga_570d12e714c410b712d5a738.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d139614c410b712d5a739.jpeg" data-full="../../Photos/yoga/Yoga_570d139614c410b712d5a739.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d143814c410b712d5a73a.jpeg" data-full="../../Photos/yoga/Yoga_570d143814c410b712d5a73a.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d16f814c410b712d5a73c.jpeg" data-full="../../Photos/yoga/Yoga_570d16f814c410b712d5a73c.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d17fc14c410b712d5a744.jpeg" data-full="../../Photos/yoga/Yoga_570d17fc14c410b712d5a744.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570d181d14c410b712d5a745.jpeg" data-full="../../Photos/yoga/Yoga_570d181d14c410b712d5a745.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd3dd14c410b712d5a74b.jpeg" data-full="../../Photos/yoga/Yoga_570fd3dd14c410b712d5a74b.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd48114c410b712d5a74d.jpeg" data-full="../../Photos/yoga/Yoga_570fd48114c410b712d5a74d.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd4a014c410b712d5a74e.jpeg" data-full="../../Photos/yoga/Yoga_570fd4a014c410b712d5a74e.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd4cb14c410b712d5a750.jpeg" data-full="../../Photos/yoga/Yoga_570fd4cb14c410b712d5a750.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd4ea14c410b712d5a751.jpeg" data-full="../../Photos/yoga/Yoga_570fd4ea14c410b712d5a751.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd54014c410b712d5a753.jpeg" data-full="../../Photos/yoga/Yoga_570fd54014c410b712d5a753.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd55f14c410b712d5a755.jpeg" data-full="../../Photos/yoga/Yoga_570fd55f14c410b712d5a755.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd5c514c410b712d5a758.jpeg" data-full="../../Photos/yoga/Yoga_570fd5c514c410b712d5a758.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd62514c410b712d5a75a.jpeg" data-full="../../Photos/yoga/Yoga_570fd62514c410b712d5a75a.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_570fd65e14c410b712d5a75c.jpeg" data-full="../../Photos/yoga/Yoga_570fd65e14c410b712d5a75c.jpeg" class="m-p-g__thumbs-img" />
        <img src="../../Photos/yoga/Yoga_5710eb3814c410b712d5a77a.jpeg" data-full="../../Photos/yoga/Yoga_5710eb3814c410b712d5a77a.jpeg" class="m-p-g__thumbs-img" />

    </div>
    <div class="m-p-g__fullscreen"></div>
</div>

<script src="~/Content/material-photo-gallery-master/dist/js/material-photo-gallery.min.js"></script>

<script>
			var elem = document.querySelector('.m-p-g');

			document.addEventListener('DOMContentLoaded', function() {
				var gallery = new MaterialPhotoGallery(elem);
			});
</script>

<br />

