

/* My custom bootstrap */
.navbar-inverse {
    background: #008EFF;
}

.navbar-inverse .navbar-brand {
    color: #fff
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background: #C7CC14;
}


#loading-bar .bar {
  background: #FF6327;
}
#loading-bar .peg {
  box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #FF6327;
  border-left-color: #FF6327;
}
